
  
  .detailed-card {
    background-color: #21231a;
    border-radius: 4px;
    padding:3rem;
    flex: 1;
    color:white;
    max-width:50%;
    margin:auto;
    max-height:250px;
    width:500px;
    overflow-y:scroll;
  }
  